{% extends 'base.html.twig' %}

{% block title %}Devenir autheur{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<div class="container">
    <div class="container-white">
        <div class="example-wrapper">
            <br/>
            <h2> <span class="yellowgreen"> Devenir auteur maintenant. </span></h2>
            <br/>
            <!-- modal -->
            <div class="container">
                <div class="modal-util">
                    <h1> Condition pour devenir vendeur</h1>

                        <span class="become-author-span">Respect des droits d'auteur </span><br/><br/>
                        <p>
                        Je m'engage a vendre des produits numériques qui m'appartienne a 100%. Aucun media ou objet protégé par les droits d'auteur ne sont toléré sur le site.
                        Je m'engage également a utiliser des éléments libre de droits, si besoin de media, il y a.
                        </p>
                        <span class="become-author-span">Respect de la RGPD </span><br/><br/>
                        <p>
                        Je m'engage a ne pas utiliser les informations des utilisateurs et les statistiques a des objectifs publicitaire.
                        Les éléments uploadé sur ce site devront également respecter la reglementation RGPD dans sa globalité.
                        </p>
                        <span class="become-author-span">Respect de la clientele </span><br/><br/>
                        <p>
                        Je m'engage a ne pas publier des produits web incoherent, ou des produits qui peuvent induire le client en erreur.
                        </p>

                </div>
            </div>
            {{ form(form) }}
        </div>
    </div>
</div>
{% endblock %}
