/* ==========================================================================================================
										Statistic card page
   ========================================================================================================== */
.container-card {
    background-color: white ;
    margin: 15px ;
    height: 300px ;
    border-left : 4px yellowgreen solid ;
    border-right : 4px yellowgreen solid ;
    border-bottom : 5px yellowgreen dashed ;
    border-radius: 10px;
}

.card-title {
    background-color: yellowgreen;
    color : white;
    padding : 10px ;
}

.card-content {
    padding: 10px ;
}
.container-card-product{
    display: column;
}