{% extends 'admin/base.html.twig' %}


{% block title %}Dashboard{% endblock %}

{% block body %}
    <!-- display products that customers have purchased, available for download -->
    <div class="container">
        <br/><br/>

        <div class="centered text-center">
            <h1> Bienvenue dans le laboratoire </h1>
            <p> La page concu pour les tests sur l'application ( Bouton paypal, Simulation, Vue.js...)</p>
        </div>
        <hr/>
        <br/>

{% endblock %}
