<form method="post" action="{{ path('product_delete', {'id': order.product.id}) }}" onsubmit="return confirm('Vous confirmez vouloir supprimer cette élément ? );">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ order.product.id) }}">
    <button class="btn">Supprimer</button>
</form>
