{% extends 'base.html.twig' %}

{% block title %}Modifier produit{% endblock %}

{% block body %}
<div class="container">
    <h1>Modifier le Produit</h1>
    <p class="size3"> Attention, en validant ce formulaire, les anciens éléments uploadés seront supprimé, gardez donc les fichiers associé à votre produit.</p>

    {{ include('product/_form.html.twig', {'button_label': 'Modifier le produit'}) }}
    <br/>
    <a href="{{ path('product_index') }}">Retour à la liste</a>
</div>
<br/>
<br/>
{% endblock %}
