{% extends 'base.html.twig' %}

{% block title %}Nouveau produit{% endblock %}

{% block body %}
    {{ include('dashboard/_nav.html.twig') }}
    <div class="container">
        <h1>Créer un nouveau produit</h1>

        <a href="{{ path('help_author') }}"><span class="yellowgreen"><i class="fa fa-question-circle" aria-hidden="true"></i> Aide pour auteurs</span></a>


        {{ include('product/_form.html.twig') }}
        <br/>
        <br/>
        <br/>
        <br/>
        </div>
{% endblock %}

{% block javascripts %}

{{ parent() }}

<script>
$(".custom-file-input").on("change", function() {
  var fileName = $(this).val().split("\\").pop();
  $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
});
</script>
{% endblock %}
