{% extends 'base.html.twig' %}

{% block title %}Nouveau produit{% endblock %}

{% block body %}
    <div class="container">
        <h1>Créer un nouveau produit</h1>

        <div class="product-help">
            <h6>En consultant l'aide proposé, vous avez plus de chance de vendre votre produit.</h6>
            <a href="{{ path('help_author') }}"><span class="yellowgreen"><i class="fa fa-question-circle" aria-hidden="true"></i> Aide pour auteurs</span></a>
        </div>

        {{ include('product/_form.html.twig') }}
        <br/>
        <br/>
        <br/>
        <br/>
        </div>
{% endblock %}

{% block javascripts %}

{{ parent() }}

<script>
$(".custom-file-input").on("change", function() {
  var fileName = $(this).val().split("\\").pop();
  $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
});
</script>
{% endblock %}
