{% extends 'base.html.twig' %}

{% block title %}FAQ{% endblock %}

{% block body %}
    <div class="container faq">
            <br/><br/>
            <div class="inline">
                <div class="logo">
                    <h3><b>Web Item<span class="yellowgreen"> Market </span></b><h3>
                </div>
                <p class="align-bottom text-faq-logo"> FAQ et problêmes récurrent </p>
            </div>
            <hr>

            <div>
            <br/><br/>
            <h5><span class="yellowgreen">F</span>aut t'il avoir un compte pour acheter un produit ?</h5>
            <p> Oui, il faut se connecter pour acheter un produit. Il faut être connecté pour que la commande soit tracé. Ainsi, nous pourrons mieu 
            répondre a vos demandes</p>
            </div>

            <div>
            <br/><br/>
            <h5><span class="yellowgreen">C</span>omment puis-je vendre mes produits ?</h5>
            <p> Vous pouvez vendre vos produits sur l'application, il suffit pour cela de devenir auteur sur cette page. La vente de produit est soumis
            a une modération, une fois celle-ci passée, votre/vos produits s'afficheront sur notre boutique</p>
            </div>

            <div>
            <br/><br/>
            <h5><span class="yellowgreen">C</span>omment nous contacter ?</h5>
            <p> Un formulaire de contact a été mis a disposition sur notre boutique. Vous pouvez nous contacter pour résoudre un problême, mais également
            demander une catégorie, ou encore faire une proposition d'amélioration</p>
            </div>

        <!-- Bootstrap FAQ - START -->
        <div class="container">
            <br />
            <br />
        </div>

    </div>
{% endblock %}
