{% extends 'base.html.twig' %}

{% block title %}Aide{% endblock %}

{% block body %}
    <div class="container">
        <h1>Aide à la création de contenu</h1>

        <p>  Format..Description, images ...</p>
    </div>
{% endblock %}
