{% extends 'base.html.twig' %}

{% block title %}Mentions Légales{% endblock %}

{% block body %}
    <div class="container faq">
            <br/><br/>
            <div class="inline">
                <div class="logo">
                    <h3><b>Web Item<span class="yellowgreen"> Market </span></b><h3>
                </div>
                <p class="align-bottom text-faq-logo"> Mentions légales pour l'utilisation de la place de marché WebItemMarket </p>
            </div>
            <hr>

            <div>
            <br/><br/>
            <h5><span class="yellowgreen">D</span>roit d'exploitation des produits</h5>
            <p> En publiant un produits, vous vous engagez à ce que celui-ci demeure sur la place de marché. Sans décision contraire
            de votre part, le produit y restera et les dividendes pour ce produit vous seront reversé</p>
            </div>

            <div>
            <br/><br/>
            <h5><span class="yellowgreen">A</span>cces a la plateforme</h5>
            <p> Notre plateforme propose des produits de manière continue, les produits seront donc exposé au internautes. Nous ne serons pas tenu responsable 
            des données sensible publier dans un produit si l'erreur vient d'un problême dans la phase de développement.<br/>
            Nous nous reservons également le droit de privatiser le serveur dans de rare cas, a des buts de maintenance serveur.</p>
            </div>

            <div>
            <br/><br/>
            <h5><span class="yellowgreen">G</span>estion des données</h5>
            <p> Vos données sont protégé et vos mots de passe sont chiffré sur la place de marché WebItemMarket.<br/>
            Les données liés a vos produits seront cependant enregistré dans un espace de stockage lors de sauvegarde des données. Tout cela dans 
            le but de sauvegarder vos données et vos produits en cas d'attaque.</p>
            </div>

        <!-- Bootstrap FAQ - START -->
        <div class="container">
            <br />
            <br />
        </div>

    </div>
{% endblock %}
