{% extends 'base.html.twig' %}

{% block title %}Avis Client{% endblock %}

{% block body %}
<div class="container faq">
            <br/><br/>
            <div class="inline">
                <div class="logo">
                    <h3><b>Web Item<span class="yellowgreen"> Market </span></b><h3>
                </div>
                <p class="align-bottom text-faq-logo"> Regardez les avis de nos clients ! ( prochainement ) </p>
            </div>
            <hr>

            <div>
            <br/><br/>
            <h5><span class="yellowgreen">A</span>vis Client</h5>
            <p> Nous récoltons en ce moment des commentaires, afin de les partager sur cette page. Si vous avez un commentaire a déposer, merci de nous le faire
            parvenir dans le formulaire de contact prévu a cet effet.</p>
            </div>

        <!-- Bootstrap FAQ - START -->
        <div class="container">
            <br />
            <br />
        </div>

    </div>
{% endblock %}
