{# templates/emails/AcceptedProduct.html.twig #}

<h1> Félicitation, votre éléments uploadé sur la place de marché WebItemMarket, a été mis en vente </h1>

<p>Nous vous remercions pour le temps accordé pour l'upload du produit et nous vous souhaitons de belles ventes</p>
<hr>