{# templates/emails/contact.html.twig #}

<h1> Votre inscription sur webItemMarket a été enregistré </h1>

<p> Nous pouvons répondre a vos demandes dans la section contact prévu a cet effets. et nous vous remercions pour votre inscription </p>

<hr>