{# templates/emails/Upload.html.twig #}

<h1> Votre éléments uploadé sur la place de marché Web Item Market, a été refusé. </h1>

<p>Nous vous remercions pour le temps accordé pour l'upload du produit , mais {{ message_generique }}</p> </br>

<p> Voici la note du modérateur de votre produit: "{{ motif }}"</p></br>



<hr>