{# templates/emails/successPayment.html.twig #}

<h3>Réponse de Item Web Market a votre demande</h3>
<br/><br/>
<hr>
Votre commande sur le site webItemMarket a bien été prise en compte <br/>
Nous vous remercions de votre confiance, vous allez pouvoir proceder au téléchargement du produit dans la section "mes commandes" si le paiement est recu, dans les plus bref délais.

<hr>