{# templates/emails/Upload.html.twig #}

<h1> Upload d'un élément sur la place de marché</h1>

<p> Votre élément a été pris en compte dans notre base de donnée, et sera bientot soumis a la modération, nous vous conseillons de garder les fichiers
dans un espace de stockage, en cas de modification de celui-ci sur notre plateforme.</p>
<p> Merci d'avoir partager votre produit sur notre plateforme, nous restons a votre disposition a l'aide du formulaire de contact intéfré sur le site web.</p>

<hr>