{# templates/emails/Upload.html.twig #}

<h1> Upload d'un élément sur la place de marché</h1>

<p> Votre élément a été pris en compte dans notre base de donnée, et sera bientot soumis à la modération, nous vous conseillons de garder les fichiers
dans un espace de stockage, en cas de modification de celui-ci sur notre plateforme, Vous devrez les injectez a nouveau.</p>
<p> Merci d'avoir partager votre produit sur notre plateforme, nous restons a votre disposition a l'aide du formulaire de contact intéfré sur le site web.</p>
<br/><br/>
<p> Votre produit est accepté ou réfusé dans un délai relatif selon les produits deja en attente. Nous travaillons pour traiter votre produit dans les plus bref délais.
Nous vous souhaitons de bonne ventes. Dans le cas d'un rejet du produit uploadé, un message vous sera transmis afin de vous aider. Dans l'objectif de travailler ensemble pour de belles ventes. 
</p>
<hr>