{# templates/emails/Upload.html.twig #}

<h1> Upload d'un élément sur la place de marché</h1>

<p> Votre élément a été pris en compte dans notre base de donnée, et sera bientot soumis a la modération.</p>
<p> Merci de soliciter notre plateforme pour la vente de vos produits.</p>

<hr>