<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="description" content="Web Item Market" />
        <meta name="keywords" content="Web Item Market" />

        <!-- Facebook and Twitter integration -->
        <meta property="og:title" content=""/>
        <meta property="og:image" content=""/>
        <meta property="og:url" content=""/>
        <meta property="og:site_name" content=""/>
        <meta property="og:description" content=""/>
        <meta name="twitter:title" content="" />
        <meta name="twitter:image" content="" />
        <meta name="twitter:url" content="" />
        <meta name="twitter:card" content="" />

        <title>{% block title %}Web Item Market {% endblock %}</title>

        {% block stylesheets %}
            <!-- Favicons -->
            <link rel="icon" type="image/x-icon" href="{{ asset('img/favicon.ico') }}" />

            <link rel="stylesheet" href="{{ asset('css/style.css') }}" />

        {% endblock %}
    </head>

    <body>
        {% block body %}

        {% endblock %}

        {% block javascripts %}

        {% endblock %}
    </body>
</html>
