{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}

    {{ include('dashboard/_nav.html.twig') }}

    <div class="container">
        <div class="centered">
            <h1> Dashboard </h1>
            <br/>
        </div>

        <h2> Retirer vos fonds  </h2>
        <hr/>
        <br/>

        <h4> Fonds disponible :</h4>
    </div>

{% endblock %}
