{% extends 'base.html.twig' %}


{% block title %}Dashboard{% endblock %}

{% block body %}
    <!-- display products that customers have purchased, available for download -->

    {{ include('dashboard/_nav.html.twig') }}

    <div class="container">

        <a href="{{ path('product_new') }}" class="btn btn-primary">Ajouter un produit</a><br/>
        <hr>
        <h2> Produit actuellement en vente </h2>
        <br/>

    </div>
    
        {% if products > 0  %}
        
            <div class=" container container-card-product border row box-card">
                {% for product in products %}
                    <div class="img-card col-lg-4 ">
                        <img class="card-img-top" src="../product/img/{{ product.img1 }}"  alt="{ { product.name }}" height="200" width="200">
                    </div>
                    <div class="card-title">
                        <p> ddddd</p>
                    </div>
                    <div class="card-content">
                    <p>fffffffff</p>
                    </div>

                {% endfor %}
            </div>

        {% else %}
            <!-- <img class="card-img-top" src="product/img/{ { product.img1 }}"  alt="{ { product.name }}" height="420" width="100%">-->
                <tr>
                    <td colspan="9">Pas d'article en vente</td>
                </tr>
            
        {% endif %}




{% endblock %}
