{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    <p> Hello Dashboard </p>
    {% if is_granted('ROLE_ADMIN') %}
        <p> Stats page <!-- Todo --> </p>
    {% endif %}

    {% if is_granted('ROLE_AUTHOR') %}
        <a href="{{ path('product_new') }}">Créer un produit</a>
        <p> Mes Produits <!-- Todo --> </p>
        <p> Mes Vente <!-- Todo --> </p>
        <p> Mon portefeuille <!-- Todo --> </p>
    {% endif %}

    {% if is_granted('ROLE_USER') %}
        <p> Mes Commandes <!-- Todo --> </p>
    {% endif %}



{% endblock %}
