{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
        {{ include('dashboard/_nav.html.twig') }}

    <div class="container">
    <br/><br/>
        <h2> Dashboard {{ user.email }} </h2>
    </div>


{% endblock %}
