{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
        {{ include('dashboard/_nav.html.twig') }}

    <div class="container">
    <br/><br/>
        <h2> Bon retour parmis nous {{ user.email }} ! </h2>
        <br/>


        <!-- Todo -->
        <h4> Todo : </h4>
        <ul>
            <li> Changement de mdp</li>
            <li> Info Iban</li>
        </ul>
    </div>


{% endblock %}
