{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}

    {{ include('dashboard/_nav.html.twig') }}

    <div class="container">
        <br/><br/>

        <h2> Mon portefeuille  <i class="fa fa-money" aria-hidden="true"></i></h2>
        <br/>
        <h3> solde Actuel :  <i class="fa fa-eur" aria-hidden="true"></i> </h3>
        <h3> solde en attente :  <i class="fa fa-eur" aria-hidden="true"></i> </h3>

    </div>

{% endblock %}
