{% extends 'base.html.twig' %} 

{% block title %}Order{% endblock %}

{% block body %}

    <div class="content-page">
          <div class="container">

              <p> https://developer.paypal.com/docs/platforms/checkout/set-up-payments/ </p>
              <h2> pour acheter le produit " {{ product.name }} " Veuillez choisir un moyen de paiement </h2>

              <div class="container">
                  <div id="paypal-button-container"></div>
              </div>

      </div>

    </div>

{% endblock %}

{% block javascripts %}

{{ parent() }}

    <script src="https://www.paypal.com/sdk/js?client-id=ASKlzgOeCEaz7OYoISCgkmuZBwmojFWrd3bIFCSTuGA_JeSbTRIYrktgyVzstPtzOHzyCqpuzkiulg5C"></script>
    <script>
        paypal.Buttons({
            // createOrder est appelé lorsque l'acheteur clique sur l'un des boutons de paiement.
            // Cette fonction doit retourner un numéro de commande ( https://developer.paypal.com/docs/api/orders/v2/#orders )
            // pour rendre le flux de paiement. Dans cet exemple,
            // createOrder appelle votre serveur pour obtenir l'ID de commande.
            createOrder: function (data, actions) {
                console.log("clic button");
                return fetch('/perso/Web-Item-Market/public/createOrder', {
                    method: 'POST'
                }).then(function(res) {
                    if (res.status === 204)
                    {
                        console.log("204");
                        // todo : redirect payement no succes..
                    }
                    else
                    {
                        return res.json();
                    }
                }).then(function(data) {
                    // console.log(data.id );
                    // console.log(data);
                    return data.id; // return json id
                });
            },
            // Todo : Send argument : orderId
            onApprove: function (data, actions) {
                // Todo !important get data.id
                console.log(data.orderID) ;

                return fetch('/perso/Web-Item-Market/public/captureOrder/'+data.orderID, {
                    method: 'POST'
                }).then(function(res) {
                    console.log(res.status);

                    // Todo : redirect payout ok
                    console.log("redirect to payout ok ");

                    if (res.status != 200) {
                        console.log("redirect to payout error ");
                    }

                });
            }
        }).render('#paypal-button-container');
    </script>
{% endblock %}