{% extends 'base.html.twig' %} 

{% block title %}Order{% endblock %}

{% block body %}

    <div class="content-page">
          <div class="container">

              <p> https://developer.paypal.com/docs/platforms/checkout/set-up-payments/ </p>
              <h2> pour acheter le produit " {{ product.name }} " Veuillez choisir un moyen de paiement </h2>

              <div class="container">
                  <div id="paypal-button-container"></div>
              </div>

      </div>

    </div>

{% endblock %}

{% block javascripts %}

{{ parent() }}

    <script src="https://www.paypal.com/sdk/js?client-id=ASKlzgOeCEaz7OYoISCgkmuZBwmojFWrd3bIFCSTuGA_JeSbTRIYrktgyVzstPtzOHzyCqpuzkiulg5C"></script>
    <script>
        paypal.Buttons({

            // définir variable global de la class ?
            // mettre data id dans cette variable à create order
            // la récupérer sur captureOrder ?

            // createOrder est appelé lorsque l'acheteur clique sur l'un des boutons de paiement.
            // Cette fonction doit retourner un numéro de commande ( https://developer.paypal.com/docs/api/orders/v2/#orders )
            // pour rendre le flux de paiement. Dans cet exemple,
            // createOrder appelle votre serveur pour obtenir l'ID de commande.
            createOrder: function (data, actions) {
                console.log("clic button");
                return fetch('/perso/Web-Item-Market/public/createOrder', {
                    method: 'POST'
                }).then(function(res) {
                    // return json
                    if (res.status === 204)
                    {
                        console.log("204");
                    }
                    else
                    {
                        // console.log("return json "); // good
                        return res.json();
                    }
                    //console.log(res.json());
                    //return res.json();

                }).then(function(data) {
                    // return id Order
                    console.log(data.id ); // good
                    console.log(data);
                    return data.id;
                });
            },

            // onApprove est appelé lorsque l'acheteur approuve la commande.
            // Cela se produit lorsque l'acheteur termine avec succès le flux de paiement. Dans cet exemple,
            // onApprove appelle votre serveur pour effectuer un ordre de capture appel ( https://developer.paypal.com/docs/api/orders/v2/#orders_capture ).

            // Todo : Send argument : orderId
            onApprove: function (data, actions) {
                console.log(data.id + "data id dans onApprove") ;
                return fetch('/perso/Web-Item-Market/public/captureOrder'+data.id, {
                    method: 'POST'
                }).then(function(res) {
                    if (!res.ok) {
                        alert('Something went wrong');
                    }
                });
            }
        }).render('#paypal-button-container');
    </script>
{% endblock %}