{% extends 'base.html.twig' %} 

{% block title %}Order{% endblock %}

{% block body %}

    <div class="content-page">
          <div class="container">

              <p> https://developer.paypal.com/docs/platforms/checkout/set-up-payments/ </p>
              <h2> pour acheter le produit " {{ product.name }} " Veuillez choisir un moyen de paiement </h2>

              <div class="container">
                  <div id="paypal-button-container"></div>
              </div>

      </div>

    </div>

{% endblock %}

{% block javascripts %}

{{ parent() }}

    <script src="https://www.paypal.com/sdk/js?client-id=ASKlzgOeCEaz7OYoISCgkmuZBwmojFWrd3bIFCSTuGA_JeSbTRIYrktgyVzstPtzOHzyCqpuzkiulg5C"></script>
    <script>
        paypal.Buttons({
            // createOrder est appelé lorsque l'acheteur clique sur l'un des boutons de paiement.
            // Cette fonction doit retourner un numéro de commande ( https://developer.paypal.com/docs/api/orders/v2/#orders )
            // pour rendre le flux de paiement. Dans cet exemple,
            // createOrder appelle votre serveur pour obtenir l'ID de commande.
            createOrder: function (data, actions) {
                console.log("clic button");
                // test 1 for get OrderId

                return fetch('/perso/Web-Item-Market/public/createOrder', {
                    method: 'GET'
                }).then(function(res) {

                    console.log(res.json() );

                    return res.json();
                }).then(function(data) {

                    console.log(data.id );
                    console.log(data);

                    return data.id;

                });


                // test 2 for get OrderId
                /*
                fetch('/perso/Web-Item-Market/public/createOrder').then(function(response) {
                if(response) {
                   console.log("ok");
                   console.log(response.status) ;
                   console.log(response);
                   console.log(response.blob() );
                   console.log(response.body);
                   console.log(response.json);

                } else {
                    console.log('Mauvaise réponse du réseau');
                }
                })
                .catch(function(error) {
                    console.log('Il y a eu un problème avec l\'opération fetch: ' + error.message);
                });
                */
            },

            // onApprove est appelé lorsque l'acheteur approuve la commande.
            // Cela se produit lorsque l'acheteur termine avec succès le flux de paiement. Dans cet exemple,
            // onApprove appelle votre serveur pour effectuer un ordre de capture appel ( https://developer.paypal.com/docs/api/orders/v2/#orders_capture ).

            // Todo : Send argument : orderId
            onApprove: function (data, actions) {
                console.log(data.orderId) ;
                return fetch('/perso/Web-Item-Market/public/captureOrder' + data.orderId, {
                    method: 'POST'
                }).then(function(res) {
                    if (!res.ok) {
                        alert('Something went wrong');
                    }
                });
            }
        }).render('#paypal-button-container');
    </script>
{% endblock %}