{% extends 'base.html.twig' %} 

{% block title %}Commande{% endblock %}

{% block body %}

    <div class="padding container">
          </br></br>

          <h2> Echec Paiement  </h2>
          <p> pour une raison ou pour une autre, le paiement du produit a échoué. Si vous souhaitez acheter un produit,
          veuillez effectuer une nouvelle commande.
          </p>

        <br/>
          <br/>
        <hr>
    </div>

{% endblock %}

{% block javascripts %}

{{ parent() }}

{% endblock %}