{% extends 'base.html.twig' %} 

{% block title %}Order{% endblock %}

{% block body %}

    <div class="content-page">
          <div class="container">

              <p> https://developer.paypal.com/docs/platforms/checkout/set-up-payments/ </p>
              <p> je shouaite acheter le produits ( order/order.html.twig ) </p>
              <p> Mettre les bouton dans la page single.. </p>

              <!-- id button paypal generate with javascript -->
              <div id="paypal-button-container">
              </div>
      </div>

    </div>

{% endblock %}

{% block javascripts %}

{{ parent() }}
    <script src="https://www.paypal.com/sdk/js?client-id=ASKlzgOeCEaz7OYoISCgkmuZBwmojFWrd3bIFCSTuGA_JeSbTRIYrktgyVzstPtzOHzyCqpuzkiulg5C"></script>
    <script>
        paypal.Buttons({
            // createOrder est appelé lorsque l'acheteur clique sur l'un des boutons de paiement.
            // Cette fonction doit retourner un numéro de commande ( https://developer.paypal.com/docs/api/orders/v2/#orders )
            // pour rendre le flux de paiement. Dans cet exemple,
            // createOrder appelle votre serveur pour obtenir l'ID de commande.
            createOrder: function (data, actions) {
                console.log("/perso/Web-Item-Market/public/createOrder");
                return fetch('/perso/Web-Item-Market/public/createOrder', {
                    method: 'GET'
                }).then(function(res) {
                    return res.json();
                }).then(function(data) {
                    return data.id;
                });
            },
            // onApprove est appelé lorsque l'acheteur approuve la commande.
            // Cela se produit lorsque l'acheteur termine avec succès le flux de paiement. Dans cet exemple,
            // onApprove appelle votre serveur pour effectuer un ordre de capture appel ( https://developer.paypal.com/docs/api/orders/v2/#orders_capture ).
            onApprove: function (data, actions) {
                return fetch('/captureOrder' + data.orderID, {
                    method: 'POST'
                }).then(function(res) {
                    if (!res.ok) {
                        alert('Something went wrong');
                    }
                });
            }
        }).render('#paypal-button-container');
    </script>
{% endblock %}