{% extends 'base.html.twig' %} 

{% block title %}Order{% endblock %}

{% block body %}

    <div class="padding container">
          </br></br>

          <h2> Paiement effectué </h2>
          <p> Le paiement a bien effectué, merci pour votre confiance. Vous pouvez désormais profiter de votre produit dans l'espace
          téléchargement </p>
        
        <hr>
    </div>

{% endblock %}

{% block javascripts %}

{{ parent() }}

{% endblock %}