{% extends './base.html.twig' %}

{% block title %}Web Item Market{% endblock %}

{% block body %}
    <div class="container">
        <h1>Une érreur c'est produite </h1>

        <p>
            Vous pouvez retourner sur la page <a href="{{ path('home') }}"> home </a>.
        </p>
    </div>
{% endblock %}
